.carousel-item {
   
   height: 400px;}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text */
    padding: 1rem;
    border-radius: 0.5rem;
}
.section {
    padding: 20px; /* Maintain padding around content */
    background-color: #f4f4f4; /* Background color */
    border-bottom: 1px solid #ddd; /* Border at the bottom for separation */
    transition: transform 0.3s ease; /* Smooth transition effect for transformations */
    margin-top: 60px; /* Space above the section */
}

/* Specific styles based on ID */
#home.section {
    background-image: url('city-night.gif');
    background-size: cover;
    background-position: center;
}

.carousel-item p {
    margin-top: 50px; /* You might want to use a specific unit like px, em, etc. */
}


/* Ensuring proper letter spacing for modal and other elements */
.modal-body,
.modal-title,
.form-control {
    letter-spacing: normal; /* Adjust if needed */
}

/* Ensure proper spacing in the camera list and feed */
.camera-list ul,
.camera-feeds {
    font-family: Arial, sans-serif; /* Set a clean, readable font */
    letter-spacing: normal; /* Adjust if needed */
}

/* Additional styling for the camera list and feeds */
.camera-list {
    margin-right: 20px;
}

.camera-feeds {
    margin-left: 20px;
}

/* Styling for the modal header and body */
.modal-header {
    font-family: Arial, sans-serif;
}

.modal-title {
    letter-spacing: normal; /* Adjust if needed */
}

.modal-body {
    font-family: Arial, sans-serif;
}


